$primary-1: #f4f8fa;
$primary-2: #e1efef;
$primary-3: #bde3e2;
$primary-4: #87d4c7;
$primary-5: #5fc7b9;
$primary-6: #3cbaad;
$primary-7: #1cada4;
$primary-8: #00a19b; //button default / activated default
$primary-9: #007a7a;
$primary-10: #005154;

$bg-1: #ffffff;
$bg-2: #fafafa;
$bg-3: #f5f5f5;

$border-1: #f0f0f0;
$border-2: #d9d9d9;
$border-3: #acacac; //disable default

$font-1: #434343;
$font-2: #262626;
$font-3: #1c1c1c; //font default

$warning: #ef7800;
$success: #21cc96;
$error: #c92e34;
